<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title><%= yield(:title) or "XGRAPH Control Center" %></title>

<%= stylesheet_link_tag ["reset", "application"], :cache => "all" %>
<%= javascript_include_tag [
  "swfobject", "mootools-1.2.4-core", "mootools-1.2.4.4-more", "application"], :cache => "all" %>
  <link rel="shortcut icon" href="<%= image_path "favicon.ico" %>" />
  
</head>

<body>

  <div id="outer-wrap">
    <div id="wrapper">
      <div id="header">

        <div class="logo">
          <%= link_to image_tag("logo.png", :border => 0), root_url %>
        </div>

        <ul class="nav">
          <%= content_tag(:li, 
            link_to("Metric Reporting", metrics_home_url),
            :class => current_if(:metric_reports)) %>
        </ul>

      </div>

      <div id="main"></div>

      <div id="content">
        <%= yield(:content) or yield %>
      </div>

      <div id="footer">
      <p>&copy; 2010 XGRAPH INC. ALL RIGHTS RESERVED</p>
      </div>
    </div>
  </div>

</body>
</html>
